@import '@/css/vars.scss';

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

#app {
  display: flex;
  height: 100vh;
}

.flex {
  display: flex;
}

%center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
