@import '@/css/vars.scss';

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

#app {
  display: flex;
  height: 100vh;
}

.flex {
  display: flex;
}

%center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 17px;
  margin-left: 14px;

  &:hover {
    opacity: .8;
  }
}

.primary-btn {
  @extend .btn;
  background: $primary-color;
  color: white;
}

.secondary-btn {
  @extend .btn;
  background: $bg-color;
  border: 1px solid lightgray;
  color: gray;
}


input {
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid $border-color;
  font-size: 18px;
  min-height: 40px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.search-input {
  @extend input;
  padding: 0 20px 0 40px;
  background: url("@/assets/icons/search.svg") no-repeat 7px 7px;
}


select {
  display: inline;
  width: 100%;
  min-height: 40px;
  border: 1px solid $border-color;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
  background: url("@/assets/icons/arrow-down.svg") no-repeat calc(100% - 10px);
  -webkit-appearance: none;

  &:required:invalid {
    color: gray;
  }

  option {
    color: black;
  }

  &:focus {
    outline: none;
  }
}
